## Visual Studio / .NET
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/

## Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
publish/

## NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db
